#container {
    overflow: hidden;
}
img {
    min-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    background-position: center;
}

button {
    color: white;
    padding: .75rem;
    border-radius: .25rem;
    position: fixed;
    top:90%;
    left:50%;
    background-image: linear-gradient(90deg, #FF713B, #FFA51D);
    border: none;
    transform: scale(1) translateY(-50%) translateX(-50%);
    transition: transform 1s;
    margin: 0 auto;
    font-size: 1.25rem;
}

button:hover {
    transform: scale(1.2) translateY(-50%) translateX(-45%);
}
