html, body {
    font-size: 1rem;
}

#container {
    border: 1px solid #F18119;
    min-width: 300px;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 1rem;
}

#search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.3rem;
    background-color: transparent;
}

#searchInput {
    border: 1px solid #F18119;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    max-width: 50%;
}

#searchInput:focus {
    outline: 1px solid #F18119;
}

#search label {
    color: #404040;
    font-size: 1.25rem;
    margin-right: 1rem;
}

#results {
    display: block;
    padding: .625rem;
}

#results .name {
    color: white;
    background-image: linear-gradient(90deg, #FF713B, #FFA51D);
    width: 100%;
    padding: .625rem 0;
    text-align: center;
    background-color: transparent;
    margin-bottom: .625rem;
    list-style-type: none;
    font-size: 1.5rem;
    border-radius: 1rem;
}

@media (min-width: 750px) {
    #search label {
        font-size: 1.5rem;
    }
}