/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

/* =================
Typography
================= */

.title {
    color: #FFF;
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
}

.title strong,
.top-text,
.title-reminder,
.subtitle-reminder {
    font-weight: 900;
}

.top-text,
.title-reminder {
    text-transform: uppercase;
    color: #F18119;
    margin: 0;
}

.top-text,
.fine-print {
    font-size: .625rem;
}

.fine-print,
.top-text {
    letter-spacing: 1px;
}

.title-reminder,
.subtitle {
    font-size: 1.3125rem;
    font-weight: 700;
}

.subtitle-reminder {
    color: #F18119;
    text-transform: uppercase;
}

.content-info {
    font-size: 1rem;
}

.btn {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .625rem;
    letter-spacing: 1px;
}


/* =================
Layout
================= */

.intro {
    background-color: #404040;
    background-image: url("../images/ribs.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 .5rem 2em;

}

.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.top-text {
    border-top: 5px solid #F18119;
    padding-top: .5em;
    order: -1;
    border-image: linear-gradient(90deg, #FFA51D, #FF713B) 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
}

.subtitle,
.subtitle-reminder {
    margin: 0;
}

.subtitle-reminder {
    margin-bottom: .75rem;

}

/* =================
Form
================= */

.opt-in {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

input,
.btn {
    width: 100%;
    border-radius: 3px;
    padding: .4rem;
}

input {
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .5rem;
    border: 1px solid #40404075;
    transform: scale(1);
    transition: transform .25s;
}

input:focus {
    transform: scale(1.05);
}

.btn {
    padding: .6rem;
}

.btn-primary {
    background-image: linear-gradient(90deg, #FF713B, #FFA51D);
    border: none;
    transform: scale(1);
    transition: transform .25s;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.05);
}

@media (min-width: 750px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    .title {
        font-size: 3.5rem;
    }

    .subtitle,
    .title-reminder {
        font-size: 1.75rem;
    }

    .intro,
    .content {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-height: 100vh;
        margin: 0;
    }

    .content {
        justify-content: center;
    }

    .container-intro {
        justify-content: space-between;
        height: 100%;
    }
}