html {
  overflow-y: scroll;
}

.app {
  text-align: center;
  background: rgb(32, 32, 32);
  background: linear-gradient(50deg, rgba(32, 32, 32, 1) -25%, rgba(33, 33, 33, 1) 100%);
  min-height: 100vh;
  color: white;
  font-family: 'Roboto Mono', monospace;
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 100vw;
}

.app__header {
  margin-bottom: .5em;
  margin-top: 3em;
  font-weight: bold;
}

.app__phrase {
  margin-right: auto;
  margin-left: auto;
  line-height: 2em;
  max-width: 50%;
  margin-bottom: 8em;
}

.nav {
  background-color: hsla(0, 0%, 0%, 0.3);
  flex-wrap: wrap;
}

#container {
  max-width: 100vw;
}

.nav--logo {
  display: block;
  margin: 0;
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: white;
  margin-left: 5%;
}

.nav--logo:hover {
  cursor: default;
}

.nav--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
}

.nav--list>li {
  float: left;
}

.nav--link,
.nav--list>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav--link:hover,
.nav--list>li>a:hover {
  background-color: #111;
  color: white;
}

.nav--image {
  max-width: 32px;
}

.about {
  max-width: 100vw;
}

.about--info,
.contact,
.projects {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  margin-top: 10em;
}

.about--header {
  margin-bottom: .5em;
}

.about--description {
  line-height: 2em;
}

#about--skills {
  margin-top: 10em;
}

.card {
  color: black;
  margin: 3em;
  padding: 2.5em;
  min-width: 50%;
}

.card-title {
  font-weight: bold;
}

.card>img {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: .25rem;
}

.col-sm-6 {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  max-width: 50%;
}

.contact--list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.card-body {
  align-items: center;
  padding: 0 !important;
}

#contact--socials {
  margin-left: auto;
  margin-right: auto;
  background-color: #141414 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.contact--image {
  max-width: 32px;
  margin-left: auto;
  margin-right: auto;
}

#contact--email {
  margin-top: 9px;
}

.projects {
  text-align: center;
}

.projects__todo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 256px;
  height: 64px;
  border-radius: 16px;
  background-color: #141414;
  color: white;
  text-decoration: none;
}

.projects__todo span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 32px;
  margin: auto;
}

.projects__todo:hover {
  color: #5f5f5f;
}

.todo {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  background-color: white;
  padding: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 2.5rem 5rem 0 rgba(0, 0, 0, .1);
  color: #292929;
  font-family: 'Roboto Mono', monospace;
}

.todo--input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: larger;
  border-style: solid;
  border-color: #d8d8d8;
}

.todo--add,
.todo--clear {
  margin-top: 1em;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-style: solid;
  border-color: #d8d8d8;
  background-color: white;
}

.todo--input:focus {
  outline: none;
}

.todo--add:hover,
.todo--clear:hover {
  box-shadow: 1px 1px 1px #5f5f5f;
}

.todo--add:active,
.todo--clear:active {
  box-shadow: inset 1px 1px 1px #5f5f5f;
}

.todo--task {
  margin-top: 1em;
}

.todo--task label {
  display: block;
}

.todo--task input {
  position: relative;
  bottom: 1px;
  margin-right: 10px;
}

.todo--task-checkbox:checked {
  box-shadow: 1px 1px 1px #5f5f5f;
  accent-color: #d1d1d1;
}

.todo--clear {
  margin-top: 3em;
  width: 128px;
  height: 32px;
  border-radius: 16px;
}

.todo--task-remove {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 1px;
  margin-left: 10px;
}

.tictactoe {
  color: #292929;
  font-family: 'Roboto Mono', monospace;
}

.tictactoe > h1 {
  margin-top: 1em;
  text-align: center;
}

.tictactoe--container{
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
}

.tictactoe--square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border: 1px solid #333333;
  user-select: none;
  box-shadow: 1px 1px 1px #5f5f5f;
}

.tictactoe--square:hover {
  cursor: pointer;
}

.tictactoe--square span {
  font-size: 64px;
  font-weight: 100;
}

.tictactoe--winner {
  margin-top: 1em;
  text-align: center;
}

.tictactoe--reset {
  display: flex;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 64px;
  border-radius: 32px;
  border-style: solid;
  border-color: #d8d8d8;
  background-color: white;
}

.tictactoe--reset span {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
}

.tictactoe--reset:hover {
  box-shadow: 1px 1px 1px #5f5f5f;
}

.tictactoe--reset:active {
  box-shadow: inset 1px 1px 1px #5f5f5f;
}

div.is-disabled
{
  pointer-events: none;
}

.weatherapp {
  color: #292929;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}

.weatherapp--topbanner {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}

.weatherapp--message {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.weatherapp--search {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.weatherapp--search input:focus {
  outline: none;
}

.weatherapp--search-button {
  border-style: solid;
  border-color: #d8d8d8;
  background-color: white;
}

.weatherapp--search-button:hover {
  box-shadow: 1px 1px 1px #5f5f5f;
}

.weatherapp--search-button:active {
  box-shadow: inset 1px 1px 1px #5f5f5f;
}

.weatherapp--container form {
  margin-top: 2em;
}

.weatherapp--dynamic {
  margin: 0 auto;
}

.weatherapp--cities {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: 1em;
  padding: 0;
}

.weatherapp--cities > li {
  width: fit-content;
  margin: 0 auto;
}

.weatherapp--city {
  width: 256px;
  background-color: #5a91d8;
  padding: 1em;
  border: 1px solid #ffffff;
  border-radius: 2em;
  box-shadow: 1px 1px 1px #5f5f5f;
  color: white;
  
}

.weatherapp--city > h4, .weatherapp--city > h5, .weatherapp--city > h6 {
  font-weight: bold;
  font-size: 1em;
}

.weatherapp--city-delete {
  margin: 0;
  text-align: right;
}
.weatherapp--city-delete:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .weatherapp--cities { grid-template-columns: repeat(2, 0fr); }
}

@media (min-width: 900px) {
  .weatherapp--cities { grid-template-columns: repeat(3, 0fr); }
}